<a href="https://colab.research.google.com/github/Amisha-source/ML-Major-maybatch/blob/main/SA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("reviews.csv")

In [3]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [4]:
df['Rating'].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [5]:
df_neg=df.loc[df['Rating']<3]
df_neg=df_neg.reset_index(drop=True)

In [6]:
df_five=df.loc[df['Rating']==5]
df_five=df_five.reset_index(drop=True)

In [7]:
df_pos=df_five.loc[:len(df_neg)]

In [8]:
len(df_pos)

3215

In [9]:
df_all=pd.concat([df_neg,df_pos],axis=0)
df_all=df_all.reset_index(drop=True)

In [10]:
df_all['sentiment']=np.where(df_all['Rating']==5,"positive","Negative")

In [11]:
df_all.tail()

                                                 Review  Rating sentiment
6424  perfect hotel hotel does not really need glowi...       5  positive
6425  perfect hotel small hotel comfortable perfect ...       5  positive
6426  ordinary location extraordinary hotel know lov...       5  positive
6427  classy indulgence awesome experience, staff n'...       5  positive
6428  first-rate experience stay library hotel wife ...       5  positive

In [12]:
df_all=df_all.sample(frac=1)
df_all=df_all.reset_index(drop=True)

In [13]:
df_all.head(10)

                                              Review  Rating sentiment
0  solid business hotel stayed hotel nights la, o...       2  Negative
1  palace brilliant beautifull friendly superb, f...       5  positive
2  enjoyable stay wife loved 3 nights hotel david...       5  positive
3  excellent time secrets, husband spent 5 glorio...       5  positive
4  punta can'ta resorts hotels visited punta cana...       1  Negative
5  paradise lost reviewlet start saying review fa...       2  Negative
6  excellent hotel milano hotel milano located he...       5  positive
7  loved stay morandi spent lovely days morandi a...       5  positive
8  night share toilet 14 people, booked new yesrs...       1  Negative
9  danger danger weary traveler, brief, sister bo...       1  Negative

In [14]:
from sklearn.model_selection import  train_test_split
X_train,X_test,y_train,y_test=train_test_split(df_all.Review,df_all.sentiment)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
x_train_vec=v.fit_transform(X_train)
X_test_vec=v.transform(X_test)

In [34]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train_vec,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [35]:
y_pred=model.predict(X_test_vec)

In [36]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_pred,y_test)

0.9415422885572139

In [39]:
from sklearn.metrics import f1_score
f1_score(y_test,model.predict(X_test_vec),average=None)

array([0.94043093, 0.94261294])

In [40]:
rev=["perfect hotel"]
rev_vec=v.transform(rev)
model.predict(rev_vec)

array(['positive'], dtype=object)

In [41]:
from sklearn.pipeline import make_pipeline
text_model = make_pipeline(CountVectorizer(),SVC())


text_model.fit(X_train,y_train)

y_pred = text_model.predict(X_test)
y_pred

array(['Negative', 'positive', 'Negative', ..., 'Negative', 'positive',
       'Negative'], dtype=object)

In [42]:
text_model

Pipeline(memory=None,
         steps=[('countvectorizer',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [43]:
import joblib
joblib.dump(text_model,'Reviews')

['Reviews']

In [44]:
import sys
sys.version

'3.7.10 (default, May  3 2021, 02:48:31) \n[GCC 7.5.0]'

In [45]:
!pip install streamlit --quiet
!pip install pyngrok==4.1.1
from pyngrok import ngrok

     |████████████████████████████████| 7.8MB 8.9MB/s
     |████████████████████████████████| 4.2MB 34.3MB/s
     |████████████████████████████████| 81kB 8.2MB/s
     |████████████████████████████████| 174kB 48.2MB/s
     |████████████████████████████████| 112kB 48.4MB/s
     |████████████████████████████████| 122kB 42.0MB/s
     |████████████████████████████████| 71kB 7.7MB/s
     |████████████████████████████████| 788kB 31.1MB/s
     |████████████████████████████████| 368kB 41.9MB/s
  Building wheel for blinker (setup.py) ... done
ERROR: jupyter-console 5.2.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 3.0.19 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipykernel~=4.10, but you'll have ipykernel 6.0.1 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipython~=5.5.0, but you'll have ipython 7.25.0 which is incompatible.
Collecting pyngrok==4.1.1
  Downloading https://files.pythonhosted.org/packages/e4/a9/de2e15c92eb3aa4a2646ce3a7542317eb69ac47f667578ce8bf916320847/pyngrok-4.1.1.tar.gz
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from pyngrok==4.1.1) (0.16.0)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok==4.1.1) (3.13)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-4.1.1-cp37-none-any.whl size=15985 sha256=068ee449d52a97f5387e8d74b38a2189dbdc379bf5d75e16a7a61d12bf6e401b
  Stored in directory: /root/.cache/pip/wheels/97/71/0d/1695f7c8815c0beb3b5d9b35d6eec9243c87e6070fbe3977fa
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-4.1.1

In [46]:
%%writefile app.py
# It is a magic command to create app.py file
import streamlit as st
import joblib
st.title('Reviews Deployment')
test_model = joblib.load('Reviews')
ip = st.text_input('Enter your Review')
op = test_model.predict([ip])
if st.button('Predict'):
  st.title(op[0])

Writing app.py

In [47]:
!nohup streamlit run app.py &
url = ngrok.connect(port='8501')
url

nohup: appending output to 'nohup.out'

'http://9993924fc109.ngrok.io'